.jumbotron {
  padding: 2rem 1rem;
  background-color: #0099ff;
}

.footer {
  background-color: #0099ff;
  margin-top: -10px;
}

#about {
  background-color: #0099ff;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
